@import url(http://fonts.googleapis.com/css?family=Lato:400,700,400italic);

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }

* {
  margin:0;
  padding:0;
}
body {
  padding: 15px;
  margin: 0 auto;
  max-width: 100%;
  width: 920px;
  font-family: sans-serif;
  font-size: 1.2em;
  line-height: 1.4em;
  text-align: center;
}
hr {
  height:1px;
  background:#eee;
  border:none;
  margin:30px 0 15px 0;
}

h1,
h2 {
  margin: 15px;
}

/* helpers */

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

/* .. */

.block {
  height: 300px;
  text-align:left;
  padding: 10px 20px;
  margin: 10px;
  border: solid #ccc 1px;
  position: relative;
  float:left;
}
.block img {
  max-height: 100px;
}
.block strong {
  display: block;
  margin-bottom: 10px;
  font-size:1rem;
}

.block p {
  font-size:0.938rem;
}

.btn {
  position: absolute;
  bottom: 10px;
  left: 20px;
  background: #000;
  color: #fff;
  text-align: center;
  line-height: 30px;
  padding: 0 5px;
  width:190px;
  display: block;
  margin: 5px auto;
  text-decoration: none;
  font-size:0.8rem;
  font-weight: bold;
}